@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(62, 62, 62);
    color: aliceblue;
    font-family: 'Rubik', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

/* Siebar Menu */
.sidebar{
    height: 920px;
    grid-row: 1/4;
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
    box-shadow: 0 0 4px whitesmoke;
   
}

.menu2{
    margin-top: 90px;
}
.logo{
    padding-left: 30px;
}

.sidebar li{
    padding: 3px;
    margin: 30px;
    list-style-type: none;
}

.sidebar a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
    transition: 0.3s;
}

.sidebar a:hover{
    color: coral;
}

/* header */

.header{
    height: 180px;
    background-color: rgb(243, 149, 72);
    color: rgb(1, 48, 168);
    grid-column: 2/4;
    box-shadow: 0  1px 2px whitesmoke;
}

.nav-main{
    display: flex;
    gap: 1px;
    justify-content: space-around;
}

.user{
    display: flex;
    gap: 30px;
}

.pfp-user{
    margin-top: 8px;
}

.bell{
    margin-top: 20px;
}

input{
    width: 500px;
    height: 30px;
    border: 0.2px solid;
    border-radius: 25px;
    background-color: antiquewhite;
}

form{
    margin-top: 10px;
}

.s-btn{
    background:none;
    border: none;
}

.nav-2{
    margin  : 20px;
    display: flex;
    justify-content: space-between;
}

.nav-2 li{
    display: inline;
    margin: 4px;
}

.user-btn{
    width: 80px;
    height: 35px;
    margin-top: 30px;
    font-size: 1.2rem;
    color: aliceblue;
    background-color: rgb(0, 149, 255);
    border: .4px solid black;
    border-radius: 25px;
    transition: 0.3s;
}

.user-btn:hover{
    background-color: rgb(98, 45, 1);
}

.greeting{
    padding: 20px;
    line-height: 1px;
    display: flex;
}

.txt{
    margin-left: 10px;
}

/* wrapper-portfolio */
.comment-wrapper{
    margin: 10px;
    grid-column: 2/3;
}

.port{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minMax(300px,1fr));
}

.box{
    
    padding: 10px;
    line-height: 20px;
    width: 300px;
    height: 170px;
    background-color: antiquewhite;
    border-left: 6px orange solid;
    border-radius: 12px;
    color: rgb(1, 48, 168);
    box-shadow: 0 0 10px;
}

.box p{
    font-size: 0.7rem;
    opacity: 0.5;
}

.box-icons{
    margin-top: 40px;
    margin-left: 210px;
}

.box-icons i{
    padding: 4px;
}

/* info tab */

.info-tab{
    margin: 10px;
    grid-column: 3;
    grid-row: 2;
}

.tab{
    display: block;
    width: 260px;
    height: 250px;
    padding: 20px;
    font-size: 0.5rem;
    background-color: antiquewhite; 
    color: rgb(1, 48, 168);
    border-radius: 12px;
    box-shadow: 0 0 10px;
}

hr.line{
    border-top: 1px solid rgba(1, 48, 168, 0.346);
}

.tab p{
    font-size: 0.7rem;
    opacity: 0.5;
}

.tab-2{
    display: block;
    width: 260px;
    height: 220px;
    padding: 20px;
    font-size: 0.5rem;
    background-color: antiquewhite; 
    color: rgb(1, 48, 168);
    border-radius: 12px;
    box-shadow: 0 0 10px;
}

.pfp{
    margin: 8px;
    padding: 4px;
    line-height: 2px;
    display: flex;
}

.pfp h2{
    opacity: 0.5;
}

.tag{ 
    margin-left: 20px;
}